/*@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&family=Bakbak+One&display=swap');*/
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
input,
textarea,
button,
select,
a {
   -webkit-tap-highlight-color: transparent;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
   background: transparent;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: inherit;
   font-family: "Montserrat", sans-serif;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}
:root {
   --accent: #bdfe8a;
}

body {
   background: #2e2e2e;
   color: #f3f3f3;
   line-height: 1.6;
}

ul {
   list-style: none;
}

a {
   text-decoration: none;
}

p {
   font-family: "Montserrat", sans-serif;
   margin: 8px 0;
}

img {
   width: 100%;
}
.container {
   width: 100%;
   max-width: 1280px;
   margin: 0 auto;
}

.title {
   font-size: 48px;
   color: white;
   text-shadow: 0 0 10px #323232;
   font-family: "Funnel Display", sans-serif;
   line-height: 1;
   font-weight: 500;
}
.title i {
   color: #bdfe8a;
   font-style: normal;
}

/* Team */

#team div {
   margin-left: 20px;
   margin-right: 20px;
}

#team h2 {
   font-size: 40px;
   text-align: center;
   margin: 50px 0;
   color: #bdfe8a;
}

#team h4 {
   text-align: center;
   color: #bdfe8a;
}

#team p {
   font-size: 22px;
   text-align: center;
   margin-bottom: 50px;
   margin-left: 150px;
   margin-right: 150px;
}

#team .flex-items {
   display: flex;
   flex-direction: row;
   justify-content: center;
   text-align: center;
   height: 100%;
   margin-bottom: 30px;
}

#team .flex-items img {
   height: 100px;
   width: 100px;
   border-radius: 100%;
   border: #bdfe8a solid 2px;
}

#team .flex-items h3 {
   font-size: 20px;
   padding: 16px;
}

#team .flex-items p {
   font-size: 18px;
   padding: 0 16px;
   max-width: 400px;
}

/* Contact */

#contact {
   background: url(../img/contact.jpg) no-repeat center center/cover;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   justify-content: space-evenly;
   height: 800px;
}

#contact h2 {
   font-size: 40px;
   text-align: center;
   margin: 20px 0;
   color: #bdfe8a;
}

#contact .container {
   position: relative;
}

#contact .wrap {
   background: #2e2e2e;
   opacity: 0.9;
   width: 500px;
   padding: 20px 0;
   z-index: 3;
}

#contact .wrap .callback-form .form-group input {
   background: #2e2e2e;
   color: #f3f3f3;
   width: 360px;
   padding: 8px 16px;
   height: 45px;
   margin-bottom: 16px;
   z-index: 6;
}

#contact .wrap .callback-form .form-group textarea {
   background-color: #2e2e2e;
   color: #f3f3f3;
   width: 360px;
   padding: 8px 16px;
   height: 100px;
   margin-bottom: 16px;
   z-index: 6;
}

#contact .wrap .callback-form .form-group input:focus,
#contact .wrap .callback-form .form-group textarea:focus {
   outline: none;
   border-color: #bdfe8a;
}

/* Products */
#cover {
   background: url(../img/profile.jpg) no-repeat center center/cover;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: left;
}

#cover .info {
   background: #2e2e2e;
   opacity: 0.9;
   max-width: 1600px;
   padding: 16px 8px;
   margin: 0 16px 32px 16px;
}

#cover h1 {
   font-size: 80px;
   padding: 100px 16px 50px 16px;
   color: #bdfe8a;
}

#cover h2 {
   font-size: 40px;
   margin-bottom: 16px;
   color: #bdfe8a;
}

#cover h3 {
   font-size: 20px;
   margin: 16px 0;
}

#cover p {
   font-size: 18px;
   padding: 8px 8px;
}

#cover img {
   border-radius: 10%;
   margin: 16px 0;
}

#products {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, auto);
   align-items: center;
}

#products .img {
   grid-row: 2 / span 2;
}

#products .service ul {
   text-align: center;
}

@media (max-width: 1200px) {
   #products .img {
      grid-column: 1 / span 2;
   }

   #products .solution {
      grid-column: 1 / span 2;
   }
}

#method ul {
   text-align: center;
}

#method .wrap1 {
   display: flex;
   align-items: center;
}

#method .wrap1 img {
   width: 550px;
}

@media (max-width: 1200px) {
   #method .wrap1 {
      display: flex;
      flex-direction: column;
   }
}

#method .wrap2 {
   display: flex;
   text-align: center;
}

#method .wrap2 .two {
   display: flex;
}

#energy .refrences {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#energy .refrences img {
   max-width: 1000px;
}

/* Footer */
#footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 100px;
   padding-top: 20px;
}

#footer .social a:hover {
   color: #f3f3f3;
}

#footer .social a {
   padding: 10px 30px;
}

#footer .social p {
   font-size: 20px;
}

/* Success */

#success {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: #2e2e2e;
   height: 80vh;
}
